
<div id="container" class="media text-dark p-4 mb-3">
    <img src="../../assets/img/about.jpg" alt="image" class=" media-left myIMG col-lg-6 col-md-6 col-sm-12 shadow p-0 ">
    <div class="media-body my-auto border border-solid border-2 shadow rounded ml-5 p-4">
        <h1>Our Goal:</h1>
        <p class="card-titel p-2">We guarantee that you will have all the skills needed to kick-ass in a job environment</p>
        <h1>What we need from you:</h1>
        <p class="card-text p-2"> We need you to be motivated and have some clue of CSS and HTML. </p>
        <h1></h1>
        <p class="card-text p-2">Job: Currently IT</p>
        <p class="card-text p-2">Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, iste. Libero reiciendis ex dolorum aperiam corporis sed veniam ducimus excepturi veritatis dicta repudiandae quas, aspernatur cumque distinctio laudantium minus expedita!</p>
    </div>
</div>