.myBG{
    background: url("../../assets/img/jumbo.jpg") no-repeat;
    background-size:100%;
    height:35rem;
    width:100%;
    max-width:initial;
}

.mytext{
    text-shadow: 1px 1px 2px black;
    font-size: 8rem;
    padding-top: 5rem;
    
}
