
<div id="container" class="media text-dark p-4 mb-3">
    <img src="../../assets/img/team3.jpg" alt="image" class=" media-left pr-4 w-100 col-lg-6 rounded-circle">
    <div class="media-body my-auto border border-solid border-2 shadow rounded p-4">
        <div><span class="card-titel p-2 font-weight-bold">Name: </span>Michael</div><br>
        <div><span class="card-text p-2 font-weight-bold">Price: </span>85€/h </div><br>
        <div>  <span class="card-text p-2 font-weight-bold">Job: </span>Currently at google</div><br>
        <div><span class="card-text p-2 font-weight-bold">Description: </span></div>
        <div class="pl-2">I am a PHP beast. I know all about PHP shortcuts and I can learn u a lot! I am also trained in Angular and JS</div>
    </div>
</div>