
<div id="container" class="media text-dark p-4 mb-3">
    <img src="../../assets/img/team1.jpg" alt="image" class=" media-left pr-4 w-100 col-lg-6 rounded-circle">
    <div class="media-body my-auto border border-solid border-2">
        <p class="card-titel">Name: Kajeen</p>
        <p class="card-text">Price: 90€/h</p>
        <p class="card-text">Job: Currently IT</p>
        <p class="card-text">Description: I am very skilled in HTML and CSS. I love Bootstrap and i will learn u a lot !</p>
    </div>
</div>