
<div id="container" class="media text-dark p-4 mb-3">
    <img src="../../assets/img/team2.jpg" alt="image" class=" media-left pr-4 w-100 col-lg-6 rounded-circle">
    <div class="media-body my-auto border border-solid border-2 shadow rounded p-4">
        <div><span class="card-titel p-2 font-weight-bold">Name: </span>Oliver</div><br>
        <div><span class="card-text p-2 font-weight-bold">Price: </span>85€/h </div><br>
        <div>  <span class="card-text p-2 font-weight-bold">Job: </span>currently part-time at Bytefex</div><br>
        <div><span class="card-text p-2 font-weight-bold">Description: </span></div>
        <div class="pl-2">I am a jack of all trades. I can help you with everything. If i dont know something i will learn it and explain it to you!</div>
    </div>
</div>